
body{
    background-color:black;
}
#section01
{
    color:gray;
    position:absolute;
    margin-left:50px;
 

    
}
#section02
{
    color:red;
    font-size:90px;
    margin-left: 1400px;
    margin-top:100px;
   position:absolute;
   font-family:fantasy;
   font-weight:bolder;
}
#section03
{
    color:floralwhite;
    font-size:20px;
    margin-left:30px;
   position:absolute;
   margin-top:100px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#section04
{
    background-color:red;
    color:white;
    font-size:120px;
    margin-left:300px;
    margin-top:100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:absolute;
   font-weight:bolder;
   
}
#section05
{
   margin-left:800px;
   margin-top:120px;
   position:absolute;
}
#section06
{
color:greenyellow;
position:absolute;
margin-left:1400px;
margin-top:230px;
}
#section07
{
color:gray;
position:absolute;
margin-left:1600px;
margin-top:230px;
}
#section08
{
color:gray;
position:absolute;
margin-left:1600px;
margin-top:280px;
}
#section09
{

position:absolute;
margin-left:850px;
margin-top:180px;
}
#section10
{

position:absolute;
margin-left:5px;
margin-top:350px;

}
#section11
{

position:absolute;
margin-left:30px;
margin-top:1px;


}
#section12
{

position:absolute;
margin-left:650px;
margin-top:350px;

}
#section13
{

position:absolute;
margin-left:1300px;
margin-top:350px;
}
#section14
{
    color:gray;
    position:absolute;
    margin-left:630px;
    margin-top:300px;
}
#section15
{

position:absolute;
margin-left:650px;
margin-top:1200px;

}
#section16
{

position:absolute;
margin-left:50px;
margin-top:1200px;
color:white;
}
#section17
{

position:absolute;
margin-left:50px;
margin-top:1300px;
color:gray;
}
#section33
{
   margin-left:800px;
   margin-top:100px;
   position:absolute;
   color:greenyellow;
}
#section18
{
   margin-left:1350px;
   margin-top:1200px;
   position:absolute;
}
#section19
{
   margin-left:1350px;
   margin-top:1400px;
   position:absolute;
   color:greenyellow;
}
#section20
{
  margin-left:5px;
   margin-top:1150px;
   position:absolute;
  
}
#section21
{
   margin-left:850px;
   margin-top:142px;
   position:absolute;
   color:grey;
}
#section22
{
  margin-left:35px;
   margin-top:1570px;
   position:absolute;
  
   
}
#section23
{
  margin-left:1300px;
   margin-top:1870px;
   position:absolute;
 
   
}
#section24
{
  margin-left:1650px;
   margin-top:1880px;
   position:absolute;
  font-size:20px;
  color:gray;
   
}
#section25
{
  margin-left:1300px;
   margin-top:1480px;
   position:absolute;
 
   
}

#section26
{
   margin-left:5px;
   margin-top:2100px;
   position:absolute;
  
 
   
}
#section27
{
   margin-left:670px;
   margin-top:2070px;
   position:absolute;
  
 
   
}
#section28
{
   margin-left:1320px;
   margin-top:2070px;
   position:absolute;
  
 
   
}
#section29
{
    color:red;
    font-size:90px;
    margin-left: 1400px;
    margin-top:2780px;
   position:absolute;
   font-family:fantasy;
   font-weight:bolder;
}